/* A commenter si vous utilisez Bourbon plutôt que Compass */
@import "compass/css3";

/* Application de border-box */
* {
  @include box-sizing(border-box);
}

/* On définit les gouttières dans un paramètre facilement modifiable */
$gouttiere: 20px;

.grille {
  background: white;
  margin: 0 0 $gouttiere 0;

  /* Ici quelques règles pour gérer le contenu situé après la grille */
  &:after {
    /* Ou @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }

  [class*='col-'] {
    float: left;
    padding-right: $gouttiere;

    .grille &:last-of-type {
      padding-right: 0;
    }
  }

  @for $i from 1 through 11 {
	.col-#{$i}-12 { width: (100% / 12) * $i; }
  }

  /* Option pour gouttières extérieures */
  .grille-espace {
    padding-left: $gouttiere;

    [class*='col-']:last-of-type {
      padding-right: $gouttiere;
    }
  }
}
